<template>
  <v-app>
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" md="8">
            <v-card class="rounded-card" elevation="24">
              <v-window v-model="step">
                <v-window-item :value="1">
                  <v-row>
                    <v-col cols="12" md="6">
                      <v-card-text class="white--text ma-12">
                        <v-img src="../assets/img/login.svg"></v-img>
                      </v-card-text>
                    </v-col>
                    <v-col cols="12" md="6">
                      <v-container class="fill-height">
                        <v-card-text>
                          <v-row align="center" justify="center">
                            <v-col cols="12">
                              <v-form>
                                <h1 class="pa-4 text-center">Sign in</h1>
                                <v-text-field
                                  append-icon="mdi-account-outline"
                                  rounded
                                  color="#FF284F"
                                  solo
                                  label="Username"
                                ></v-text-field>
                                <v-text-field
                                  append-icon="mdi-lock-outline"
                                  rounded
                                  color="#FF284F"
                                  solo
                                  type="password"
                                  label="Password"
                                ></v-text-field>
                                <v-btn to="/" class="mb-2" rounded block color="#FF284F" dark>Login</v-btn>
                                <v-btn
                                  @click="changeStep('register')"
                                  outlined
                                  block
                                  rounded
                                  color="#FF284F"
                                >register</v-btn>
                              </v-form>
                            </v-col>
                          </v-row>
                        </v-card-text>
                      </v-container>
                    </v-col>
                  </v-row>
                </v-window-item>
                <v-window-item :value="2">
                  <v-row>
                    <v-col cols="12" md="6">
                      <v-card-text class="white--text ma-12">
                        <v-img src="../assets/img/register.svg"></v-img>
                      </v-card-text>
                    </v-col>
                    <v-col cols="12" md="6">
                      <v-container class="fill-height">
                        <v-card-text>
                          <v-row align="center" justify="center">
                            <v-col cols="12">
                              <v-form>
                                <h1 class="pa-4 text-center">Register</h1>
                                <!-- <v-stepper>
                                  <v-stepper-step :complete="e6 > 1" step="1"></v-stepper-step>
                                  <v-stepper-step :complete="e6 > 1" step="2"></v-stepper-step>
                                </v-stepper>-->
                                <v-text-field
                                  append-icon="mdi-account-outline"
                                  rounded
                                  color="#FF284F"
                                  solo
                                  label="Username"
                                ></v-text-field>
                                <v-text-field
                                  append-icon="mdi-lock-outline"
                                  rounded
                                  color="#FF284F"
                                  solo
                                  label="Password"
                                ></v-text-field>
                                <v-btn
                                  @click="register"
                                  class="mb-2"
                                  rounded
                                  block
                                  color="#FF284F"
                                  dark
                                >Register</v-btn>
                                <v-btn
                                  @click="changeStep('login')"
                                  outlined
                                  block
                                  rounded
                                  color="#FF284F"
                                >Login</v-btn>
                              </v-form>
                            </v-col>
                          </v-row>
                        </v-card-text>
                      </v-container>
                    </v-col>
                  </v-row>
                </v-window-item>
              </v-window>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  beforeCreate() {
    this.$store.dispatch("Layout_store/setLayout", "login-layout");
  },
  data: () => ({
    step: 1
  }),
  methods: {
    changeStep(value) {
      value === "register" ? (this.step = 2) : (this.step = 1);
    },
    register() {
      this.$Swal.fire({
        position: "center",
        icon: "success",
        title: "jub",
        text: "สมัครสมาชิกเรียบร้อยแล้ว",
        showConfirmButton: false,
        timer: 1500
      });
    }
  }
};
</script>

<style>
.rounded-card {
  border-radius: 30px !important;
}
</style>