<template>
  <v-app-bar flat>
    <v-container class="py-0">
      <v-layout>
        <div>
          <v-img src="../assets/img/inetlogo.png"></v-img>
        </div>
        <div
          :class="{'display-0 font-weight-bold': $vuetify.breakpoint.smAndUp,'title font-weight-bold': $vuetify.breakpoint.smAndDown, }"
        >Sale Report</div>
        <v-spacer></v-spacer>
        <v-toolbar-items class="text-right">
          <v-btn text>Logout</v-btn>
          <v-menu offset-y>
            <template v-slot:activator="{ on }">
              <v-list class="ma-0 py-0">
                <v-list-item v-on="on" class="px-1">
                  <v-avatar size="36">
                    <!-- <template v-if="image_profile">
                      <v-img :src="image_profile"></v-img>
                    </template>
                    <template v-else>
                      <v-img src="../assets/img/user-default.jpg"></v-img>
                    </template>-->
                  </v-avatar>
                  <!-- <span v-if="user && windowWidth>=600" class="pa-2">{{user.name}}</span> -->
                  <v-icon>mdi-chevron-down</v-icon>
                </v-list-item>
              </v-list>
            </template>
            <v-card>
              <h1>rws</h1>
              <!-- <template v-if="windowWidth<600">
                <v-list>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title>
                        <span v-if="user">{{user.name}}</span>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
                <v-divider></v-divider>
              </template>
              <v-list>
                <v-list-item v-if="user.group==='cloud'" @click="goToAdminPage">
                  <v-list-item-content>
                    <v-list-item-title>Admin</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-divider v-if="user.group==='cloud'"></v-divider>
                <v-list-item @click="logout">
                  <v-list-item-content>
                    <v-list-item-title>Logout</v-list-item-title>
                  </v-list-item-content>
                  <v-list-item-icon>
                    <v-icon>mdi-logout</v-icon>
                  </v-list-item-icon>
                </v-list-item>
              </v-list>-->
            </v-card>
          </v-menu>
        </v-toolbar-items>
      </v-layout>
    </v-container>
  </v-app-bar>
</template>

<script>
export default {
  name: "app-bar"
};
</script>

<style>
</style>