<template>
  <v-app>
    <v-app-bar flat color="#FF284F" max-height="120">
      <v-container>
        <v-toolbar flat color="#FF284F" dark>
          <v-img max-height="50" max-width="120" src="../assets/img/inetlogo.png"></v-img>
          <v-toolbar-title>Sale Report</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-menu offset-y transition="slide-y-transition" bottom nudge-bottom="8">
            <template v-slot:activator="{ on }">
              <v-list class="ma-0 py-0" color="transparent">
                <v-list-item v-on="on" class="px-1">
                  <v-avatar size="36">
                    <v-img src="../assets/img/lisa.jpg"></v-img>
                  </v-avatar>
                  <span class="pa-2">Riduwan Soolaeh</span>
                  <v-icon>mdi-chevron-down</v-icon>
                </v-list-item>
              </v-list>
            </template>
            <v-card>
              <v-list>
                <v-list-item @click="logout">
                  <v-list-item-content>
                    <v-list-item-title>Logout</v-list-item-title>
                  </v-list-item-content>
                  <v-list-item-icon>
                    <v-icon>mdi-logout</v-icon>
                  </v-list-item-icon>
                </v-list-item>
              </v-list>
            </v-card>
          </v-menu>
        </v-toolbar>
      </v-container>
    </v-app-bar>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
export default {
  methods: {
    logout() {
      this.$router.push("/login");
    }
  }
};
</script>

<style>
</style>